<div class="card border-primary mb-3">
    <div class="card-header">REPUESTOS</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Repuestos</h5>
        <div class="input-group align-items-center; contenedor" style="max-width: 300px; height: 40px">
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                aria-describedby="button-addon2" [(ngModel)]="filtro" (ngModelChange)="filtrarRepuestos()" />
            <div class="input-group-append">
                <button class="butt" (click)="borrarFiltro()">
                    <span class="butt span" (click)="borrarFiltro()">
                        X
                        <i class="bi bi-backspace-fill fs-4a"></i>
                    </span>
                </button>
            </div>
        </div>

        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/dashboarda/repuestos/form']">
                Crear Repuestos
            </button>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Cantidad</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repuestos of repuestosFiltrados">
                    <td>{{ repuestos.id }}</td>
                    <td>{{ repuestos.nombre }}</td>
                    <td>{{ repuestos.modelo }}</td>
                    <td>{{ repuestos.marca }}</td>
                    <td>{{ repuestos.cantidad }}</td>
                    <td>
                        <button type="button" name="button" [routerLink]="['/repuestos/form', repuestos.id]"
                            class="btn btn-primary">
                            Editar
                        </button>
                    </td>
                    <td>
                        <button type="button" name="button" (click)="deleteRepuesto(repuestos.id)"
                            class="btn btn-danger btn-xs">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>