<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="width: 100%;">
                <div class="cardd">
                    <div class="card-header">
                        <h4 class="card-title">Registrar maquina</h4>
                        <p class="card-category">Ingresa los datos de la maquina</p>
                    </div>
                    <div class="card-body">
                        <form ngNativeValidate (ngSubmit)="create()">
                            <div class="col-md-12; section; new-container">
                                <img class="center"
                                    src="https://i5.walmartimages.com/asr/cc2b95d3-aedd-484e-92b4-69fd375ed9b7.2a6f783260ab1ae6e8ae73ec6fc9ac86.jpeg"
                                    width="200px">
                                <label for="input" class="lab">Estos son los equipos del Instituto Superior
                                    Universitario Tecnológico del Azuay.
                                    Están diseñados para proporcionar una educación de alta calidad y fomentar la
                                    innovación.</label>
                            </div>
                            <div class="row; contenedor">
                                <!--<div class="col-md-5; left">
                                    <input matInput placeholder="ID (disabled)" type="number" [(ngModel)]="equipo.id"
                                        name="id" required="">
                                </div>-->
                                <div class="form__group field; col-md-5; left">
                                    <input type="text" class="form__field" placeholder="ID" name="ID" id='ID'
                                    [(ngModel)]="equipo.idEquipo" [disabled]="isEditing" disabled/>
                                    <label for="ID" class="form__label">ID (disabled)</label>
                                </div>
                                <!--<div class="col-md-3; center">
                                    <input matInput placeholder="Numero de laboratorio" type="number"
                                        [(ngModel)]="equipo.num_qlaboratorio" name="num_laboratorio" required>
                                </div>
                                <div class="form__group field; col-md-3; center">
                                    <input type="text" class="form__field" placeholder="Laboratorio"
                                    [(ngModel)]="equipo.laboratorio" name="num_laboratorio" id='num_laboratorio' required />
                                    <label for="num_laboratorio" class="form__label">Laboratorio</label>
                                </div>-->
                                <div class="form__group field; col-md-3; center">
                                    <select id="laboratorio" class="form__field" aria-placeholder="Laboratorio" [(ngModel)]="equipo.laboratorio" name="laboratorio" required>
                                      <option *ngFor="let lab of laboratorios" [value]="lab">{{ lab.idLaboratorio }}</option>
                                    </select>
                                    <label for="laboratorio" class="form__label">Laboratorio</label>
                                </div>  
                                <!--<div class="col-md-4; right">
                                    <input matInput placeholder="Numero de equipo" type="number"
                                        [(ngModel)]="equipo.num_equipo" name="num_equipo" required>
                                </div>-->
                                <div class="form__group field; col-md-4; right">
                                    <input type="number" class="form__field" placeholder="Numero de equipo" name="num_equipo" id='num_equipo'
                                    [(ngModel)]="equipo.num_equipo" min="0" required />
                                    <label for="num_equipo" class="form__label">Numero de equipo</label>
                                </div>
                            </div>
                            <div class="row; contenedor">
                                <!--<div class="col-md-6; left">
                                    <input matInput placeholder="Procesador" type="text" [(ngModel)]="equipo.procesador"
                                        name="procesador" required>
                                </div>-->
                                <div class="form__group field; col-md-6; left">
                                    <input type="text" class="form__field" placeholder="Procesador" name="procesador" id='procesador'
                                    [(ngModel)]="equipo.procesador" required />
                                    <label for="procesador" class="form__label">Procesador</label>
                                </div>
                                <!--<div class="col-md-6: center">
                                    <input matInput placeholder="Memoria Ram" type="text" [(ngModel)]="equipo.ram"
                                        name="ram" required>
                                </div>-->
                                <div class="form__group field; col-md-6; center">
                                    <input type="text" class="form__field" placeholder="Memoria Ram" name="ram" id='ram'
                                    [(ngModel)]="equipo.ram" required />
                                    <label for="ram" class="form__label">Memoria Ram</label>
                                </div>
                                <!--<div class="col-md-12; right">
                                    <input matInput placeholder="Capacidad del disco" type="text"
                                        [(ngModel)]="equipo.capacidad_disco" name="capacidad_disco" required>
                                </div>-->
                                <div class="form__group field; col-md-12; right">
                                    <input type="text" class="form__field" placeholder="Capacidad del disco" name="capacidad_disco" id='capacidad_disco'
                                    [(ngModel)]="equipo.capacidad_disco" required />
                                    <label for="capacidad_disco" class="form__label">Capacidad del disco</label>
                                </div>
                            </div>
                            <div class="row; contenedor">
                                <!--<div class="col-md-4; left">
                                    <input matInput placeholder="Serie Disco" type="text"
                                        [(ngModel)]="equipo.serie_disco" name="serie_disco" required>
                                </div>-->
                                <div class="form__group field; col-md-4; left">
                                    <input type="text" class="form__field" placeholder="Serie Disco" name="serie_disco" id='serie_disco'
                                    [(ngModel)]="equipo.serie_disco" required />
                                    <label for="serie_disco" class="form__label">Serie Disco</label>
                                </div>
                                <!--<div class="col-md-4; center">
                                    <input matInput placeholder="Modelo disco" type="text"
                                        [(ngModel)]="equipo.modelo_disco" name="modelo_disco" required>
                                </div>-->
                                <div class="form__group field; col-md-4; center">
                                    <input type="text" class="form__field" placeholder="Modelo Disco" name="modelo_disco" id='modelo_disco'
                                    [(ngModel)]="equipo.modelo_disco" required />
                                    <label for="modelo_disco" class="form__label">Modelo Disco</label>
                                </div>
                                <!--<div class="col-md-4; right">
                                    <select matInput name="options" aria-placeholder="Estado"
                                        [(ngModel)]="equipo.estado" name="estado" required>
                                        <option value="Funcional">Funcional</option>
                                        <option value="No Funcional">No Funcional</option>
                                    </select>
                                </div>-->
                                <div class="form__group field; col-md-4; right">
                                    <select class="form__field" placeholder="Estado" [(ngModel)]="equipo.estado" name="estado" id='estado' required>
                                        <option value="Funcional">Funcional</option>
                                        <option value="No Funcional">No Funcional</option>
                                    </select>
                                    <label for="estado" class="form__label">Estado</label>
                                </div>
                            </div>
                            <div class="row; container_txarea">
                                <!--<div class="col-md-12; right-priority">
                                    <label class="letter-blue; letter-top">Prioridad</label>
                                    <select matInput name="prio" aria-placeholder="Priorirdad"
                                        [(ngModel)]="equipo.prioridad" name="prioridad" required>
                                        <option value="Baja">Baja</option>
                                        <option value="Media">Media</option>
                                        <option value="Alta">Alta</option>
                                    </select>
                                </div>-->
                                <div class="form__group field; col-md-12; left">
                                    <select class="form__field" placeholder="Prioridad" [(ngModel)]="equipo.prioridad" name="prioridad" id='prioridad' required>
                                        <option value="Baja">Baja</option>
                                        <option value="Media">Media</option>
                                        <option value="Alta">Alta</option>
                                    </select>
                                    <label for="prioridad" class="form__label">Prioridad</label>
                                </div>
                                <!--<div class="col-md-12; left_tx; section">
                                    <label class="letter-blue">Aplicaciones Instaladas</label>
                                    <textarea matInput
                                        placeholder="Android Studio, Visual Studio Code, Netbeans, XAMPP, Postgress, Spring Boot Suit 4,"
                                        [(ngModel)]="equipo.app_install" name="app_install" required>
                                    </textarea>
                                </div>-->
                                <div class="form__group__tx field; col-md-12; right">
                                    <textarea class="form__field" placeholder="Aplicaciones Instaladas" 
                                    [(ngModel)]="equipo.app_install" name="app_install" id='app_install' required></textarea>
                                    <label for="app_install" class="form__label">Aplicaciones Instaladas</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-danger pull-right"
                                        role="button">Guardar</button>
                                        <!--cambio de type sumit a button -->
                                    <button type="button" class="btn btn-danger pull-right"  
                                        (click)="cancel()">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>