<mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onToggleChange($event)" class="tbt">
    <mat-button-toggle [value]="false">Periodo</mat-button-toggle>
    <mat-button-toggle [value]="true">Administrador</mat-button-toggle>
</mat-button-toggle-group>
<!-- PERIODOS -->
<div *ngIf="!adminOn">
    <div class="container">
        <div class="card borber-primary mb-2 mt-2">
            <div class="card-header">Periodos<mat-icon>face</mat-icon>
                <button type="button" name="button" [routerLink]="[]" class="btn btn-outline-primary"
                    (click)="periodoOn=false">
                    Añadir Periodo
                </button>
            </div>
            <div class="card-body text-primary" *ngIf="!periodoOn">
                <form (ngSubmit)="crearPeriodo()" #loginForm="ngForm" class="p-4 border rounded bg-light">
                    <!-- Fecha Inicio -->
                    <div>
                        <mat-form-field appearance="outline" class="d-flex justify-content-center">
                            <mat-label>Fecha Inicio: </mat-label>
                            <input matInput placeholder="Fecha Inicio" class="form-control" type="date" id="fechaInicio"
                                [(ngModel)]="periodo.fechaInicio" name="fechaInicio" required #fechIniModel="ngModel">
                            <mat-icon matSuffix>calendar_today</mat-icon>
                            <div *ngIf="fechIniModel.invalid && (fechIniModel.dirty || fechIniModel.touched)"
                                class="text-danger">
                                <mat-hint>Fecha requerido</mat-hint>
                            </div>
                        </mat-form-field>
                    </div>
                    <!-- Fecha Fin -->
                    <div>
                        <mat-form-field appearance="outline" class="d-flex justify-content-center">
                            <mat-label>Fecha Fin: </mat-label>
                            <input matInput placeholder="NFecha Fin" class="form-control" type="date" id="fechaFin"
                                [(ngModel)]="periodo.fechaFin" name="fechaFin" required #fechFinModel="ngModel">
                            <mat-icon matSuffix>calendar_today</mat-icon>
                            <div *ngIf="fechFinModel.invalid && (fechFinModel.dirty || fechFinModel.touched)"
                                class="text-danger">
                                <mat-hint>Fecha requerido</mat-hint>
                            </div>
                        </mat-form-field>
                    </div>
                    <!-- administrador TICs -->
                    <!-- <div>
                        <mat-form-field class="w-100">
                            <mat-select id="periodo" name="periodo" [(ngModel)]="periodo.administradoresTICs" multiple>
                                <mat-option *ngFor="let adm of administradoresTICs" [value]="adm">{{adm.nombre}}
                                    {{adm.apellido}}</mat-option>
                            </mat-select>
                            <mat-label><mat-icon>face</mat-icon> <strong>Administradores TICs
                                    --Opcional</strong></mat-label>
                        </mat-form-field>
                    </div> -->

                    <div class="text-end">
                        <button type="submit" class="btn btn-primary mt-3" (click)="periodoOn=true">Guardar</button>
                    </div>
                </form>

            </div>
            <div class="card-body text-primary" *ngIf="periodoOn">
                <h5 class="card-title">Listado de Periodos</h5>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Fecha inicio</th>
                            <th>Fecha Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let peri of periodoL"> <!-- *ngFor="let peri of periodos" -->
                            <td>{{peri.fechaInicio}}</td><!-- {{peri.id_periodo}} -->
                            <td>{{peri.fechaFin}}</td>
                            <!-- <td>
                                <ng-container *ngFor="let adm of peri.administradoresTICs; let isLast = last">
                                    {{ adm.nombre }} {{ adm.apellido }}, <span *ngIf="!isLast">, </span>
                                </ng-container>
                            </td> -->
                            <!-- <td>{{peri.administradoresTICs}}</td> -->
                            <!-- <td>
                                <table>
                                    <tr *ngFor="let adm of peri.administradoresTICs">
                                        <td>{{ adm.nombre }} {{ adm.apellido }}</td>
                                    </tr>
                                </table>
                            </td> -->
                            <!-- <td>{{peri.administradores}}</td> -->
                            <!-- <td>{{ peri.administradoresTICs.length }} Administradores</td> -->
                            <!-- <td *ngIf="!peri.administradoresTICs">0 Administradores</td> -->
                            <td class="d-flex justify-content-center">
                                <button type="button" name="editar" (click)="editarPeriodo()"
                                    class="btn btn-outline-primary">Editar</button>
                                <button type="button" name="eliminar" (click)="eliminarPeriodo(peri.idPeriodo)"
                                    class="btn btn-outline-danger">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ADMINISTRADORES TICS -->
<div *ngIf="adminOn">
    <div class="container">
        <div class="card borber-primary mb-2 mt-2">
            <div class="card-header">Administrador de TIC<mat-icon>face</mat-icon>
                <button type="button" name="button" [routerLink]="[]" class="btn btn-outline-primary"
                    (click)="administrador=false">
                    Añadir Administrador
                </button>
            </div>
            <div class="card-body text-primary" *ngIf="!administrador">
                <form (ngSubmit)="crearAdmin()" #loginForm="ngForm" class="p-4 border rounded bg-light">
                    <!-- Nombre -->
                    <div>
                        <mat-form-field appearance="outline" class="d-flex justify-content-center">
                            <mat-label>Nombre: </mat-label>
                            <input matInput placeholder="Nombre Administrador" class="form-control" type="text"
                                id="nombre" [(ngModel)]="administradorTic.nombre" name="nombre" required
                                #nombreModel="ngModel">
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <div *ngIf="nombreModel.invalid && (nombreModel.dirty || nombreModel.touched)"
                                class="text-danger">
                                <mat-hint>Nombre requerido</mat-hint>
                            </div>
                        </mat-form-field>
                    </div>
                    <!-- apellido -->
                    <div>
                        <mat-form-field appearance="outline" class="d-flex justify-content-center">
                            <mat-label>Apellido: </mat-label>
                            <input matInput placeholder="Apellido Encargado" class="form-control" type="text"
                                id="apellido" [(ngModel)]="administradorTic.apellido" name="apellido" required
                                #apellidoModel="ngModel">
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <div *ngIf="apellidoModel.invalid && (apellidoModel.dirty || apellidoModel.touched)"
                                class="text-danger">
                                <mat-hint>Apellido es requerida.</mat-hint>
                            </div>
                        </mat-form-field>
                    </div>
                    <!-- periodo -->
                    <div>
                        <mat-form-field class="w-100">
                            <mat-select id="periodo" name="periodo" [(ngModel)]="administradorTic.periodos" multiple>
                                <!-- *ngif -->
                                <mat-option *ngFor="let per of periodoL" [value]="per">{{per.fechaInicio}} -
                                    {{per.fechaFin}}</mat-option>
                            </mat-select>
                            <mat-label><mat-icon>face</mat-icon> <strong>Periodos</strong></mat-label>
                        </mat-form-field>
                    </div>
                    <!-- correo -->
                    <div>
                        <mat-form-field appearance="outline" class="d-flex justify-content-center">
                            <mat-label>Correo: </mat-label>
                            <input matInput placeholder="ejemplo@tecazuay.edu.ec" class="form-control" type="email"
                                id="correo" [(ngModel)]="administradorTic.correo" name="correo" required
                                #correoModel="ngModel">
                            <mat-icon matSuffix>fingerprint</mat-icon>
                            <div *ngIf="correoModel.invalid && (correoModel.dirty || correoModel.touched)"
                                class="text-danger">
                                <mat-hint>Correo es requerido.</mat-hint>
                            </div>
                        </mat-form-field>
                    </div>
                    <!-- contraseña -->
                    <div>
                        <mat-form-field appearance="outline" class="d-flex justify-content-center">
                            <mat-label>Contraseña: </mat-label>
                            <input matInput placeholder="Contraseña" class="form-control" type="password"
                                id="contrasena" [(ngModel)]="administradorTic.contrasenia" name="contrasena" required
                                #contrasenaModel="ngModel">
                            <mat-icon matSuffix>assignment</mat-icon>
                            <div *ngIf="contrasenaModel.invalid && (contrasenaModel.dirty || contrasenaModel.touched)"
                                class="text-danger">
                                <mat-hint>Contraseña es requerida.</mat-hint>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary mt-3" (click)="administrador=true">Guardar</button>
                    </div>
                </form>

            </div>
            <div class="card-body text-primary" *ngIf="administrador">
                <h5 class="card-title">Listado de encargados</h5>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Periodos</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ad of administradoresTICs"> <!-- *ngFor="let peri of periodos" -->
                            <td>{{ad.nombre}}</td><!-- {{peri.id_periodo}} -->
                            <td>{{ad.apellido}}</td>
                            <!-- <td>{{ad.periodos}}</td> -->
                            <td>
                                <ng-container *ngFor="let adm of ad.periodos; let isLast = last">
                                    {{ adm.fechaInicio }}  {{ adm.fechaFin }} <span *ngIf="!isLast">, </span>
                                </ng-container>
                            </td>

                            <td>{{ad.correo}}</td>
                            <td>{{ad.contrasenia}}</td>
                            <td class="d-flex justify-content-center">
                                <button type="button" name="editar" (click)="editarAdmin()"
                                    class="btn btn-outline-primary">Editar</button>
                                <button type="button" name="eliminar" (click)="eliminarAdmin(ad.administradorTIC_id)"
                                    class="btn btn-outline-danger">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>