<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="width: 100%;">
                <div class="cardd">
                    <div class="card-header">
                        <h4 class="card-title">Registrar Laboratorios</h4>
                        <p class="card-category">Ingresa los datos de los laboratorios</p>
                    </div>
                    <div class="card-body">
                        <form ngNativeValidate (ngSubmit)="create()">
                            <div class="col-md-12; section; new-container">
                                <img class="center"
                                    src="https://th.bing.com/th/id/OIP.4Pq_vSIWosgCAtdTp7ZnDwHaE8?rs=1&pid=ImgDetMain"
                                    width="240px">
                            </div>
                            <div class="row; contenedor">
                                <div class="form__group field; col-md-5; left">
                                    <input type="text" class="form__field" placeholder="ID" name="'ID" id='id'
                                        [(ngModel)]="laboratorio.idLaboratorio" [disabled]="isEditing" required />
                                    <label for="id" class="form__label">ID (Ejem: Laboratorio 1)</label>
                                </div>
                                <div class="form__group field; col-md-3; center">
                                    <input type="number" class="form__field" placeholder="Numero maximo de maquinas"
                                        [(ngModel)]="laboratorio.num_maquinas" name="num_maquinas" id='num_maquinas'
                                        min="0" required />
                                    <label for="num_maquinas" class="form__label">Numero maximo de maquinas</label>
                                </div>
                                <div class="form__group field; col-md-4; right">
                                    <input type="text" class="form__field" placeholder="Proyector" name="proyector"
                                        id='proyector' [(ngModel)]="laboratorio.proyector" required />
                                    <label for="proyector" class="form__label">Proyector</label>
                                </div>
                            </div>
                            <!-- <div class="row; contenedor">
                                <div class="form__group field; col-md-6; left">
                                    <select id="administrador" class="form__field" aria-placeholder="Administrador"
                                        [(ngModel)]="laboratorio.administradores" name="administrador" required>
                                        <option *ngFor="let ad of administradoresTICs" [value]="ad.nombre">{{
                                            ad.nombre}}</option>
                                    </select>
                                    <label for="laboratorio" class="form__label">Administrador</label>
                                </div> 
                                <div class="form__group field; col-md-6; center">
                                    <select id="periodo" name="periodo" [(ngModel)]="laboratorio.periodos" multiple>
                                        <option *ngFor="let per of periodoL" [value]="per">{{per.fechaInicio}} -
                                            {{per.fechaFin}}</option>
                                    </select>
                                    <label for="laboratorio" class="form__label">Periodo</label>
                                </div>
                                <div class="form__group field; col-md-12; right">
                                    <select id="encargado" class="form__field" aria-placeholder="Encargado"
                                        [(ngModel)]="laboratorio.encargados" name="encargado" required>
                                        <option *ngFor="let en of encargadoL" [value]="en.nombre">{{
                                            en.nombre}}</option>
                                    </select>
                                    <label for="laboratorio" class="form__label">Encargado</label>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-6" style="margin-top: 50px;">
                                    <button type="submit" class="btn btn-danger pull-right"
                                        role="button">Guardar</button>
                                    <button type="submit" class="btn btn-danger pull-right"
                                        (click)="cancel()">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>