<div class="bg">
    <div class="container centrar"><!-- mt-5  -->
        <form (ngSubmit)="login()" #login2Form="ngForm" class="p-4 border rounded bg-light">
            <img src="LOGO-TECAZUAY.png" class="img-fluid mx-auto d-block" alt="ogo tec" width="600"
                height="200"><!-- rounded mx-auto d-block -->
            <div>
                <br>
                <mat-form-field appearance="outline" class="d-flex justify-content-center">
                    <mat-label>Correo: </mat-label>
                    <input matInput placeholder="ejemplo@tecazuay.edu.ec" class="form-control" type="email" id="correo"
                        [(ngModel)]="correo" name="correo" required #correoModel="ngModel">
                    <mat-icon matSuffix>face</mat-icon>
                    <div *ngIf="correoModel.invalid && (correoModel.dirty || correoModel.touched)" class="text-danger">
                        <mat-hint>Correo es requerido.</mat-hint>
                    </div>
                </mat-form-field>
            </div>

            <div>
                <br>
                <mat-form-field appearance="outline" class="d-flex justify-content-center">
                    <mat-label>Contraseña: </mat-label>
                    <input matInput placeholder="Contraseña" type="password" id="contrasena" [(ngModel)]="contrasenia"
                        name="contrasena" required #contraseniaModel="ngModel">
                    <mat-icon matSuffix>assignment</mat-icon> 
                    <div *ngIf="contraseniaModel.invalid && (contraseniaModel.dirty || contraseniaModel.touched)"
                        class="text-danger">
                        <mat-hint>Contraseña es requerida.</mat-hint>
                    </div>
                </mat-form-field>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary mt-3" [disabled]="login2Form.invalid">Iniciar
                    Sesión</button>
            </div>

            <p *ngIf="mensajeError" class="text-danger mt-3">{{ mensajeError }}</p>
            <!-- <div class="container">
                <hr>
                <button class="btn btn-primary mt-3 full" routerLinkActive="active" [routerLink]="['login']" type="button">atras</button>
            </div> -->
            <div class="container">
                <hr>
                <a class="btn btn-primary mt-3 full" routerLinkActive="active" [routerLink]="['login']">Atras</a>
            </div>
        </form>
        
    </div>
</div>