<nav class="navbar navbar-expand-lg bg-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboarda/inicio">
            <img src="/TecLogos/logomenu.png" alt="Logo" width="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/dashboarda/inicio">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Inventarios</a>
                    <ul class="dropdown-menu sub-menu">
                        <li><a class="dropdown-item" routerLink="">Inventario Repuestos</a></li>
                        <li><a class="dropdown-item" routerLink="">Inventario Laboratorios</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboarda/crear-encargados" >Encargados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mantenimiento">Mantenimiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboarda/laboratorios">Laboratorios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboarda/equipos">Equipos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Reportes
                    </a>
                    <ul class="dropdown-menu sub-menu">
                        <li><a class="dropdown-item" routerLink="/dashboarda/reportes">Laboratorios</a></li>
                        <li><a class="dropdown-item" routerLink="">Inventarios</a></li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form> -->
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
