
<div class="card border-primary mb-3">
    <div class="card-header">REPORTES</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de los reportes</h5>

        <div class="my-2 text-left">
            <mat-button-toggle-group  class="btn-filtro" (change)="filtroPrioridad($event)">
                <mat-button-toggle value="Baja">Baja</mat-button-toggle>
                <mat-button-toggle value="Media">Media</mat-button-toggle>
                <mat-button-toggle value="Alta">Alta</mat-button-toggle>
                <mat-button-toggle value="limpiar">Limpiar</mat-button-toggle>
              </mat-button-toggle-group>
            <button class="btn btn-rounded btn-primary btn-impr" type="button" (click)="generatePDF()">Imprimir</button>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th># Laboratorio</th>
                    <th># Equipo</th>
                    <th>Descripcion</th> <!-- campo mantenimiento -->
                    <th>Prioridad</th> <!-- campo equipo -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipo of equiposFiltrados">
                    <td>{{equipo.laboratorio}}</td>
                    <td>{{equipo.num_equipo}}</td>
                    <td>{{equipo.num_equipo}}</td>
                    <td [ngClass]="{'text-verde': equipo.prioridad === 'Baja', 'text-naranja': equipo.prioridad === 'Media', 'text-rojo': equipo.prioridad === 'Alta'}">
                        {{equipo.prioridad}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>