<body>
    <div>
      <div class="contaimer-but">
        <button type="submit" class="btn-donate right" routerLink="">Salir</button>
      </div>
      <div class="contaimer-title tex">
        <h3 class="cormorant-garamond-light">
          BIENVENIDOS
        </h3>
        <H1 class="cormorant-garamond-light">INVENATRIO DE LABORATORIOS Y EQUIPOS</H1>
      </div>
      <div class="contaimer-parrafo ">
        <p>
          El aplicativo tiene como objetivo principal agilizar el mantenimiento de las computadoras en los
          laboratorios del instituto y mejorar la gestión de reportes. Este sistema permitirá un control más
          eficiente y detallado sobre los mantenimientos realizados, facilitando el seguimiento de las tareas
          por parte de los responsables y auxiliares. Además, proporcionará una plataforma centralizada para
          registrar y visualizar todos los datos relevantes, lo que permitirá una mejor planificación y asignación
          de recursos. La implementación de roles diferenciados para administradores y usuarios normales garantizará
          un acceso controlado y seguro a la información, asegurando que solo las personas autorizadas puedan
          realizar cambios críticos en el sistema.
        </p>
      </div>
      <div class="contaimer-img">
        <div class="img" ></div>
      </div>
    </div>
  </body>
  
  
  
  
  